
<h1 id="page_title">My Portfolio</h1>
<hr>
<div id="body_home">
  <div class="container">
    <div id="myavatar" class="col-md-3 col-md-offset-1">
      <div id="myavatar" class="" col-md-4>
        <%= image_tag 'my_avatar.png', alt:"cv de othman" %>

        <button id="button_cv" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        curriculum vitae
        </button>

      </div>
    </div>

    <div class="col-md-6 col-md-offset-1">
      <div class="content">
        <h2>salut tout le monde</h2>
        <p>
          Je mappelle Othman, alias Hotman, car je suis « chaud » dans l'apprentissage de toutes les nouvelles technologies. Je suis en formation continue de développeur web car je ne cesse de progresser chaque jour. J'aime aussi les arts martiaux, la culture
          manga, les voyages. J'aime l' aventure, les défis et l'inconnu me fait pas peur. J'aime au contraire découvrir de nouveaux horizons et c'est ce que me permet la grandeur du web. Voilà pourquoi je suis aussi passionné par mon métier. Je vous laisse me
          découvrir plus amplement en parcourant mon portfolio. N'hésitez pas à visualiser mon cv pour plus de détails sur mon parcours et mes compétences. Bonne visite et j'espère à bientôt
        </p>
      </div>

<hr>
      <div class="content">
        <h2>Hello world</h2>
        <p>
          My name is Othman, alias « hot » man because I am bright in learning about new technoligies. I am a web developpeur in progress 'cause I am improving everyday. I also love martial arts, the manga's culture and traveling. I like adventure, challenges
          and the undiscovered. That why I feel passionate about the web's large-scale and my job. Thanks to visit my portfolio, you will learn much about my skills and my training. Enjoy your visit and 'hope to have some news soon.
        </p>

    </div>
      </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
    <div class="modal-body">
      <%= image_tag 'cv_othman.jpg', alt:"cv de othman" %>
    </div>
  </div>
</div>
</div>

<br>
