/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "normalize";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
@import "font-awesome";
 @import "welcome";
 @import "projects";

$dark: 424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;
$white: #FFFFFF;


body{
font-family: 'Raleway', sans-serif;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  width: 80%;
  max-width: 760px;
  margin: 0 auto;
}
.wrapper_padding {
  padding: 4rem 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
h1, h2, h3, h4, h5, h6, p, ul, li{
  color: $dark;
}

#main_navigation{
  padding: 2.5em 5%;
  border-bottom: 1px solid $border;
  .name{
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
  }

  nav {
    float: right;
    padding-top: 1.5rem;
    a{
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1.5rem;

    }
  }




  .project_button{
    background: $highlight;
    color: $white;
    text-decoration: none;
    padding: 1em 2em;
  }

  .button_wrapper {
    margin: 4em 0 0 0;
    text-align: center;
  }
  #admin_links{
    border-top: 1px solid $border;
      border-bottom: 1px solid $border;
      text-align: center;
      padding: 1em 0;
      margin: 3em 0;
      a{
        color: $light;
        margin: 0 1em;
        font-weight: 700;
        font-size: .8em;
        text-transform: uppercase;
        text-decoration: none;
      }
  }
}
