// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#posts_wrapper{
  padding: 3em 0;
}

.date{
  text-align: center;

}
#posts_wrapper h2{
  margin-bottom: 0;
  text-align: center;
  font-size: 2em;


}

.mini_pict{
  text-align: center;
}
